<%= render 'blogs/list_top' %>
			<section class="Blog">
				<h2 class="blog-headline">Detailed profile</h2>
				<div class="blog-profile-line"></div>
				<div class="blog-contents clearfix">
				  <div class="main-profile-img"></div>
				  <div class="main-SNS-box">
					 <h1 class="main-profile-SNS">SNS</h1>
				  <div class="SNS-line"></div>
				  <p class="SNS-text-1">
					 毎日良質な情報を発信しています。<br>
					 ↓気軽にフォローしてください＾＾↓
				  </p>
					<a class="icon-main2-SNS fab fa-twitter-square" href="https://twitter.com/s_yngy" target="_blank" style="color: #359aff;"></a>
					<a class="icon-main2-SNS fas fa-rss-square" href="/detailed_profile" style="color: #9df934;"></a>
					<a class="icon-main2-SNS fab fa-facebook-square" href="/detailed_profile" style="color: #3670f7;"></a>
				  </div>
				</div>
				<div class="main-profile-text-contents">
					<h2 class="Self-introduction">Self-introduction</h2>
					<div class="Self-introduction-line"></div>
				  <p class="main-profile-text">
				  	sample-textsample-textsample-text<br>
					sample-textsample-textsample-textsample-textsample-textsample-textsample-textsample-text<br>sample-textsample-textsample-textsample-textsample-textsample-textsample-textsample-textsample-textsample-textsample-text</p>
				 <p class="main-profile-text">
					sample-textsample-text<br>sample-textsample-textsample-textsample-textsample-textsample-text<br>sample-textsample-textsample-textsample-textsample-textsample-textsample-textsample-textsample-textsample-textsample-text</p>
				 <p class="main-profile-text">
					sample-textsample-text<br>sample-textsample-textsample-textsample-textsample-textsample-text<br>sample-textsample-textsample-textsample-textsample-textsample-textsample-textsample-text
				 </p>
				</div>
				<div class="myskills-box">
					<h2 class="myskills">My skills</h2>
					<div class="myskills-line"></div>
					<p class="myskills-text">
						sample-textsample-textsample-textsample-textsample-text<br>
						sample-textsample-textsample-textsample-textsample-text
					</p>
					<p class="myskills-text">
						sample-textsample-textsample-textsample-textsample-text<br>
						sample-textsample-textsample-textsample-textsample-text
					</p>
					<p class="myskills-text">
						sample-textsample-textsample-textsample-textsample-text<br>
						sample-textsample-textsample-textsample-textsample-text
					</p>
				</div>
				<div class="schedule-box">
					<h2 class="schedule">Schedule</h2>
					<div class="schedule-line"></div>
					<p class="schedule-text">
						sample-textsample-textsample-textsample-textsample-text<br>
						sample-textsample-textsample-textsample-textsample-text
					</p>
					<p class="schedule-text">
						sample-textsample-textsample-textsample-textsample-text<br>
						sample-textsample-textsample-textsample-textsample-text
					</p>
					<p class="schedule-text">
						sample-textsample-textsample-textsample-textsample-text<br>
						sample-textsample-textsample-textsample-textsample-text
					</p>
				</div>
			</section>

<%= render 'blogs/list_bottom' %>